* {
  margin: 0;
  padding: 0;
}
//Inicio hamburger icon
.menu-container {
  display: flex;
  padding: 0 15px;
  justify-content: center;
  align-items: center;
  background: rgb(0, 18, 51);
  height: 60px;
}

.menu-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a{
    text-decoration: none;
    font-size: 30px;
    color: gray;
  }

}

.sub-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(3, 92, 87);
  height: 60px;
  padding: 0 15px;
}

.sub-menu-list{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  a{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
    font-size: 30px;
    color:rgb(185, 227, 247);
  }

}
//Final hamburger Icon

//Inicio de header

.main-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 200px;
  background-image: url("images/header.png");
  background-position-x: center;
  background-position-y: top;
  border-bottom: 3px solid black;
  background-repeat: no-repeat;
  background-size: 100%;
  .header-text {
    padding: 20px 0 0 50px;
  .header-page-title{
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     width: 600px;
     height: 70px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: rgb(10, 94, 189);
     border: 1px solid rgb(0, 0, 0);
     border-radius: 10px;
     box-shadow: 2px 2px 11px -1px black;
     color: blanchedalmond;
     margin-bottom: 20px;
     &:hover{
      transform: scale(0.98);
    }

   }
   .header-page-description {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     width: 550px;
     height: 50px;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     background-color: rgb(10, 94, 189);
     border: 1px solid rgb(0, 0, 0);
     border-radius: 10px;
     box-shadow: 2px 2px 11px -1px black;
     color: blanchedalmond;
     margin-bottom: 20px;
     &:hover{
      transform: scale(0.98);
    }
      
   }
  }
}
//Final de header

//Inicio de Accordion
.main-accordion-container {
  .accordion-item {
    background-color: #102758;
    display:flex;
    align-items: center;
    justify-content: center;
    border: 2px solid cornflowerblue;
    flex-direction: column;
    padding: 0 10px 0 10px; 
    color: darkgray;
    font-size: 20px;

    .accordion-desc {
      display: none;
      background: darkslategrey;
      padding: 15px;
      margin-top: 15px;
      width: 90%;
      font-size: 25px;
      text-align: justify;
    }
    .accordion-title {
      color: rgb(165, 165, 5);
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 20px;
      width: 90%;
      display:flex;
      justify-content: center;
      padding: 20px;
      text-decoration: darkgray;
    }
    &.tab-active {
      .accordion-desc {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
      }
    }
  }
}
//Final de Accordion

//Inicio de wrap
main {
  width: 100%;
  display: flex;
  flex-direction: row;
  border: solid 2px black;
  background-color: rgb(7, 82, 63);
  
  
  .container-1 {
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text-container-1{
      color: aliceblue;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 10px;
      h1{
        text-align: center;
      }
      h2{
        text-align: center;
      }
      p{
       text-align: justify;
       width: 90%;
       padding-bottom: 10px;
       padding: 10px 0px 10px 0px;
      }
    }
    .container-1-img{
      img {
        width: 80%;
        margin: auto;
        display: block;
        //padding: 10px 0px 0px 20px;
        &:hover {
          transform: skewY(1deg);
        }
      }
    }
    .container-1-video-1{
      padding-bottom: 10px 0px 20px 0px;
    }
  }


}
//Final de wrap

//Inicio Cards
.card-list {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
padding-top: 20px;
background-image: url("images/background-1.jpg");
background-position-x: center;
background-position-y: top;
  .card-item{width: 27%;
  height: 425px;
  border-radius: 10px;
  padding-bottom: 30px;
  box-shadow: 2px 2px 2px 2px rgb(255, 254, 254);
  margin-bottom: 30px;
  background: rgb(3, 134, 141);

    &:hover{transform: translateY(-10px);
    }
   img {
     width: 100%;
     margin-bottom: 10px;
     max-height: 300px;
     min-height: 250px;
    }
    .card-info{
      padding: 0 10px;
      display: flex;
      flex-direction: column;
      flex: 1 0;
      justify-content: space-around;
    
    .card-title{
      font-size: 18px;
      font-weight: bold;
      font-family: Arial, Helvetica, sans-serif;
      margin-bottom: 10px;
    }
    .card-desc{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 16px;
    }
    .card-cta{
      text-decoration: none;
      display:flex;
      flex-direction: column;
      align-items: flex-end;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
      border-top: solid 1px black;
      padding-top: 10px;
      margin-top: 30px;
  }
  } 
  }
}
//Final Cards

//Inicio footer
.footer-container{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  height: 120px;
  color: white;

  .footer-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    p {
      text-decoration: none;
      font-size: 25px;
    }
  }
  .footer-info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 20px;
    
    p{
      text-decoration: none;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 20px;
    }
  }
}

//Final footer
 

@media(max-width: 991px) {
//Inicio de Hamburger Icon
  .menu-container{
    padding: 0 15px;
    justify-content: flex-start;
    position: relative;

    .hamburger-icon {
      width: 35px;
      height: 25px;
      display:flex;
      justify-content: space-between;
      flex-direction: column;

      span {
        height: 4px;
        width: 100%;
        background: white;
        display: block;
        border-radius: 2px;
      }
    }
    .menu-list {
      display: none;
    }
  }

  .menu-container.menu-open {
  .menu-list {
    z-index: 100;
    border: 2px solid rgb(1, 17, 19);
    width: 200px;
    padding-top: 120px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: left;
    text-align: center;
    background-color:rgb(2, 48, 49) ;
    border-radius: 15px;
    a{ 
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      padding-top: 5px;
      padding-bottom: 5px;
      color: grey;
      font-size: 22px;
    }
  }
  }

.sub-menu-container {
  display: flex;
  justify-content: flex-start;
  position: relative;

  .sub-hamburger-icon {
    width: 35px;
      height: 25px;
      display:flex;
      justify-content: space-between;
      flex-direction: column;

      span {
        height: 4px;
        width: 100%;
        background: white;
        display: block;
        border-radius: 2px;
      }

    }
    .sub-menu-list {
    display: none;
  
    }
  }

  .sub-menu-container.sub-menu-open {
    .sub-menu-list{
      z-index: 100;
      border: 2px solid black;
      width: 200px;
      padding-top: 120px;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-content: left ;
      text-align: center;
      background-color: grey;
      border-radius: 5px;
      a{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 22px;
        color: rgb(255, 255, 255);
      }
    }
//Final hamburger icon


}
//Final de Hamburger Icon


//Inicio Accordion
.main-accordion-container {
  .accordion-item {
    .accordion-desc {
      margin-top: 10px;
      font-size: 20px;
    }

    .accordion-title {
      width: 95%;
      padding: 15px 0px 15px 0px;
      text-align: center;
    }

    &.tab-active {
      .accordion-desc {
        border-top: 2px solid rgb(255, 255, 255);
      }
    }
  }
}
//Final accordion

//Inicio de wrap
main {
  .container-1 {
    .text-container-1{
      width: 95%;
    }
    .container-1-img{
      img {
        width: 90%;
        }
      }
    }
  }
}
//Final de wrap

//Inicio Cards
.card-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 20px;
  
    .card-item{width: 45%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    background: rgb(5, 114, 114);
    height: auto;
    border-radius: white;
    box-shadow: 2px 2px 2px 2px rgb(243, 240, 240);
  
     img {
       min-height: 200px;
      }
      .card-info{
      .card-title{
        font-size: 18px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 10px;
      }
      .card-desc{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
      }
      .card-cta{
        text-decoration: none;
        display:flex;
        flex-direction: column;
        align-items: flex-end;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        border-top: solid 1px black;
        padding-top: 10px;
        margin-top: 30px;
    }
    } 
    }
  }
  //Final Cards
  
  //Inicio footer
  .footer-container{
    .footer-list{
      p{
        font-size: 18px;
      }
    }
    .footer-info{
      p{
        font-size: 15px;
      }
    }
  } //Final footer

@media(max-width: 700px){

  //Inicio de header

.main-header {
  height: 175px;
  background-size: unset;
  align-items: center;
  justify-content: center;
  .header-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  .header-page-title{
    width: 300px;
    height: 50px;
    font-size: 17px;
    margin-bottom: 10px;
     }
      .header-page-description {
     width: 210px;
     height: 50px;
     font-size: 13px;
     padding-left: 5px;
     }
    }
      
   }
  

//Final de header

main{
  flex-direction: column;
}

.card-list{
  .card-item{
    height: auto;
    img{
      margin-bottom: 5px;
      max-height: 200px;
      min-height: 150px;
    }
    .card-info{
      .card-title{
        font-size: 15px;
      }
      .card-desc{
        font-size: 14px;
      }
      .card-cta{
        font-size: 16px;
      }
    }
  }
}
//Inicio footer
.footer-container{
  background: #102758;
  .footer-list{
    flex-direction: column;
    align-items: center;
    p{
      font-size: 18px;
    }
  }
  .footer-info{
    flex-direction: column;
    align-items: center;
    padding: 0;
    p{
      font-size: 16px;
    }
  }
} //Final footer


@media(max-width: 700px){
.card-list{
  
  .card-item{
    width: 90%;

    img{
      max-height: 270px;
      min-height: 200px;
    }
  }
}

}

}



  

  



